<div class="row">
    <div class="col">
        <form (ngSubmit)="onSubmit()" [formGroup]='signupForm'>
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" [formControl]="username" type="text">
                <label for="password">Password</label>
                <input class="form-control" [formControl]="password" type="password">
            </div>
            <button [disabled]="!signupForm.valid" type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

